<div class="ui addReservation modal">
    <div class="header">Dodawanie Wizyty</div>
    <div class="scrolling content">
        <form name="vm.newReservationForm" class="ui form">
            <div class="field required">
                <label>Klient</label>
            <div class="ui fluid category search reservations_customers">
                    <input class="prompt" type="text" placeholder="Wyszukaj klienta..." name="klient" required>
                <div class="results"></div>
            </div>
            </div>
            <div class="field required">
                <label>Lóżko</label>
            <select class="ui dropdown add_lozko" name="lozko" required>
                <option value="">Wybierz Lóżko</option>
                <option ng-repeat="equip in vm.equipment" value="{{equip.$id}}">{{equip.name}} / {{equip.typ}}</option>
            </select>
            </div>
            <div class="field required time-reservation" >
                <label>Godzina ropoczęcia</label>
                <input type="text" name="start" ng-model="vm.newReservation.start " name="start" moment-picker="vm.newReservation.start" locale="pl" format="LLL" min-view="day" max-view="minute" min-date="vm.startDate" required>
            </div>
            <div class="field required time-end-reservation" >
                <label>Godzina Zakonczenia</label>
                <input type="text" name="end" ng-model="vm.newReservation.end" name="end" moment-picker="vm.newReservation.end" locale="pl" format="LLL" min-view="day" max-view="minute" min-date="vm.newReservation.start" required>
            </div>

    </div>
    <div class="actions">
        <div class="ui red deny button">
            Anuluj
        </div>
        <div class="ui green positive button" ng-class="{'disabled': vm.newReservationForm.$invalid}">
            Dodaj
        </div>
    </div>
    </form>
</div>

<div ng-if="!vm.loaded" class="ui grid centered padded">
    <div class="middle aligned column">
<div class="ui active massive centered inline loader"></div>
    </div>
</div>
<div ng-if="vm.loaded" class="ui grid centered padded">
    <div class="column padded">
        <button ng-click="vm.createReservation()" class="ui icon teal button right floated middle aligned">
            <i class="fa fa-plus"></i>
        </button>
        <div class="ui large header">Wizyty
        </div>
        <div class="ui divider"></div>
        <div class="ui grid">
            <div class="ui sixteen wide column">
                <div class="ui input">
                    <input type="text" placeholder="Wybierz Dzień" name="end" ng-model="vm.startDate" moment-picker="vm.startDate" locale="pl" format="DD-MM-YYYY" start-view="day" max-view="day">
                </div>
                </div>
            <div class="ui sixteen wide column">
                <div class="timetable-container">
                    <div class="ui grid">
                        <div class="ui two wide column">
                        </div>
                        <div class="ui fourteen wide column timetable-equip-table">
                            <div class="timetable-equip-container" ng-repeat="equip in vm.equipment" style="width:{{100/vm.equipment.length}}%">{{equip.name}}</div>
                        </div>
                    </div>
                    <div class="ui grid" style="height:100%">
                        <div class="timeline-indicator" style="top:{{vm.percentage}}%">
                        </div>

                        <div class="ui two wide column">
                            <div class="timetable-time-axis-container" ng-repeat="hour in vm.hoursArray" style="height:{{100/vm.hoursArray.length}}%">
                                {{hour}}:00
                            </div>
                        </div>
                        <div class="ui fourteen wide column timetable-equip-table with-stripes">
                            <div class="timetable-equip-container" ng-repeat="equip in vm.equipment" style="width:{{100/vm.equipment.length}}%">
                                <div class="timetable-time-axis-inside" ng-repeat="hour in vm.momentHoursArray" style="height:{{100/vm.momentHoursArray.length}}%">
                                    <div class="ui raised segment reservation" ng-repeat="reservat in hour.resevations" ng-if="reservat.equipment.name === equip.name" style="text-align:left" ng-class="vm.getReservationClass(reservat)" ng-style="{'height':reservat.style.height,'top':reservat.style.top}" >
                                        <h2 class="ui tiny header">
                                            {{reservat.customer.name || 'Anonimowy Klient'}} {{reservat.customer.surname}}
                                            <div class="sub header">{{reservat.customer.telephone}}</div>
                                            <div class="sub orange header" style="text-align:right">{{vm.formatReservationTimeStamp(reservat.reservation.start)}} - {{vm.formatReservationTimeStamp(reservat.reservation.end)}}</div>
                                        </h2>
                                        <a class="ui blue right corner label reservation-edit-button">
                                            <i class="edit icon"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>