<div class="ui addpass modal">
    <div class="header">Dodawanie karnetu</div>
    <div class="scrolling content">
        <form name="nowykarnet" class="ui form">
            <div class="ui negative icon message" ng-if="vm.error">
                <i class="thumbs down icon icon"></i>
                <div class="content">
                    <div class="header">
                        Błąd
                    </div>
                    <p>Klient posiada już karnet w systemie</p>
                </div>
            </div>
            <div class="field required">
                <label>Klient</label>
                <div class="ui fluid category search wizyta_customers">
                    <sm-search model="vm.nowyKarnet.customer" local="vm.customers" placeholder="Wyszukaj klienta..." name="klient" settings="vm.searchConfig" on-results-add="false" required></sm-search>
                    <div class="results"></div>
                </div>
            </div>
            <div class="field required">
                <sm-dropdown class="selection" model="vm.typ" items="vm.settings" label="item.name" value="item.name" default-text="'Wybierz typ karnetu'" required></sm-dropdown>
            </div>
    </div>
    <div class="actions">
        <div class="ui red deny button">
            Anuluj
        </div>
        <div class="ui green positive button" ng-class="{'disabled': nowykarnet.$invalid || vm.error}">
            Dodaj
        </div>
        </form>
    </div>
</div>

<div class="ui editpass modal">
    <div class="header">Edycja karnetu</div>

    <div class="scrolling content">
        <form name="editpassform" class="ui form">
        <div class="field required">
            <sm-dropdown class="selection" model="vm.editedCustomer.karnet.typ" items="vm.settings" label="item.name" value="item.name" default-text="'Wybierz typ karnetu'" required></sm-dropdown>
        </div>

    </div>
    </form>
    <div class="actions">
        <div class="ui red deny button">
            Anuluj
        </div>
        <div class="ui green positive button" ng-class="{'disabled': editpassform.$invalid}">
            Odnów
        </div>
    </div>

</div>

<div ng-if="!vm.loaded" class="ui grid centered padded">
    <div class="middle aligned column">
<div class="ui active massive centered inline loader"></div>
    </div>
</div>
<div ng-if="vm.loaded" class="ui grid centered padded">
    <div class="twelve wide column">
        <div class="ui raised segment">
        <div class="ui fluid transparent input">
            <input ng-model="vm.search" type="text" placeholder="Wyszukaj klienta....">
            <i class="fa fa-search"></i>
        </div>
        </div>
    </div>
    <div class="two wide middle aligned column">
        <button ng-click="vm.addPass()" class="ui icon teal button">
            <i class="fa fa-plus"></i>
        </button>
    </div>
</div>
<div ng-if="vm.loaded" class="ui grid centered padded">
    <div class="column">
<table class="ui single line fixed striped table">
    <thead>
    <tr>
        <th>Klient</th>
        <th>Rodzaj</th>
        <th>Data założenia</th>
        <th>Wykorzystane minuty</th>
        <th>Pozostało minut</th>
        <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="customer in vm.customers | filter: vm.search" ng-if="customer.ma_karnet">
        <td><a class="link teal" href="#">{{customer.name}} {{customer.surname}} {{customer.address}}</a></td>
        <td>{{customer.karnet.typ}}</td>
        <td>{{vm.dateFormat(customer.karnet.data_zalozenia)}}</td>
        <td>{{customer.karnet.wykorzystane}}</td>
        <td>{{vm.calculateRemain(customer)}}</td>
        <td>
            <button class="ui icon blue button" ng-click="vm.editPass(customer)">
            <i class="fa fa-pencil"></i>
        </button>
            <button class="ui icon red button" ng-click="vm.removeModal(customer)">
                <i class="fa fa-times"></i>
            </button>
        </td>
    </tr>
    </tbody>
</table>
    </div>
</div>