<div class="ui grid">
    <div class="sixteen wide column">
        <div class="ui three top attached steps">
            <div class="step" ng-class="{'active':vm.stepActive === 1}">
                <i class="add to calendar icon"></i>
                <div class="content">
                    <div class="title">Krok 1</div>
                    <div class="description">Podstawowe informacje o wizycie</div>
                </div>
            </div>
            <div class="step" ng-class="{'active':vm.stepActive === 2}">
                <i class="hotel icon"></i>
                <div class="content">
                    <div class="title">Krok 2</div>
                    <div class="description">Wybierz dostępne łóżko</div>
                </div>
            </div>
            <div class="step" ng-class="{'active':vm.stepActive === 3}">
                <i class="info icon"></i>
                <div class="content">
                    <div class="title">Krok 3</div>
                    <div class="description">Potwierdzenie wprowadzonej wizyty</div>
                </div>
            </div>
        </div>
        <div class="ui attached segment">
            <div class="ui grid" ng-if="vm.stepActive === 1">
                <div class="sixteen wide column">
                    <form name="vm.newWizyForm" class="ui form">
                        <h4 class="ui dividing header">Dane Klienta</h4>
                    <div class="field ">
                        <div class="ui checkbox">
                            <input type="checkbox" ng-model="vm.wizytaConfig.anonim" name="Anonimowy">
                            <label>Anonimowy klient</label>
                        </div>
                    </div>
                    <div class="field required" ng-class="{'disabled':vm.wizytaConfig.anonim}">
                        <label>Klient</label>
                        <div class="ui fluid category search wizyta_customers">
                            <input class="prompt" type="text" placeholder="Wyszukaj klienta..." name="klient" required>
                            <div class="results"></div>
                        </div>
                    </div>
                        <h4 class="ui dividing header">Czas Wizyty</h4>
                        <div class="field required">
                            <label>Ilość minut:</label>
                            <input type="number" ng-model="vm.czasOpalania" name="czasopalania">
                        </div>
                        <div class="ui green positive button" ng-click="vm.bumpStep(vm.stepActive)" ng-class="{'disabled': vm.newWizyForm.$invalid}">
                            Dalej
                        </div>
                    </form>
                </div>
            </div>
            <div class="ui grid" ng-if="vm.stepActive === 2" ng-init="vm.openCheck()">
                <div class="sixteen wide column">
                    <form name="vm.newWizyForm" class="ui form">
                        <h4 class="ui dividing header">Lóżka</h4>
                        <div class="field required">
                            <sm-dropdown class="selection" model="vm.wizytaConfig.lozko" items="vm.equipment" label="item.name" value="item.$id" default-text="'Wybierz Lozko'"></sm-dropdown>
                        </div>
                        <div class="ui green positive button" ng-click="vm.bumpStep(vm.stepActive)" ng-class="{'disabled': vm.newWizyForm.$invalid}">
                            Dalej
                        </div>
                    </form>
                </div>
            </div>
            <div class="ui grid" ng-if="vm.stepActive === 3">
                <div class="sixteen wide column">
                    <div class="ui fluid card">
                        <div class="content">
                            <img class="right floated mini ui image" src="/images/avatar/large/elliot.jpg">
                            <div class="header" ng-if="vm.confirmation.customer[0]">
                                {{vm.confirmation.customer[0].name}} {{vm.confirmation.customer[0].surname}}
                            </div>
                            <div class="header" ng-if="!vm.confirmation.customer[0]" >
                                Anonimowy Klient
                            </div>
                            <div class="meta" ng-if="vm.confirmation.customer[0]" >
                                Tel: {{vm.confirmation.customer[0].telephone}}
                            </div>
                            <div class="description">
                                <div class="ui labeled button" tabindex="0">
                                    <div class="ui green button">
                                        <i class="arrow right icon"></i> Start
                                    </div>
                                    <a class="ui basic green left pointing label">
                                        {{vm.startDateWithCooldown}}
                                    </a>
                            </div>
                                <div class="ui labeled button" tabindex="0">
                                    <div class="ui orange button">
                                        <i class="sun icon"></i> Opalanie
                                    </div>
                                    <a class="ui basic orange left pointing label">
                                        {{vm.czasOpalania}} min
                                    </a>
                                </div>
                                <div class="ui labeled button" tabindex="0">
                                    <div class="ui red button">
                                        <i class="arrow right icon"></i> Koniec
                                    </div>
                                    <a class="ui basic red left pointing label">
                                        {{vm.endDate}}
                                    </a>
                                </div>
                                <div class="ui labeled button" tabindex="0">
                                    <div class="ui grey button">
                                        <i class="flag icon"></i> Zajete
                                    </div>
                                    <a class="ui basic grey left pointing label">
                                        {{vm.coolDownDate}}
                                    </a>
                                </div>
                                <h4 class="ui dividing header">Podsumowanie</h4>
                                <p>Lóżko: {{vm.confirmation.lozko[0].name}} |  {{vm.confirmation.lozko[0].typ}}</p>
                                <p>Pozostało minut: {{vm.confirmation.lozko[0].minuty}}</p>
                                <p>Cena: {{vm.confirmation.lozko[0].cena}} zł/min</p>
                                <div class="ui form" ng-if="vm.confirmation.customer[0]">
                                    <div class="inline fields" ng-init="vm.openCheck()">
                                        <label for="platnosc">Płatność:</label>
                                        <div class="field">
                                            <sm-radio class="ui checkbox" model="vm.platnosc" name="platnosc" label="Gotówka" value="1" ></sm-radio>

                                        </div>
                                        <div class="field">
                                            <sm-radio class="ui checkbox" model="vm.platnosc" name="platnosc" label="Karnet" value="2" enabled="false"></sm-radio>
                                        </div>
                                    </div>
                                </div>
                                <h4 class="ui dividing header" ng-init="vm.platnosc = 1"></h4>
                                <div ng-if="vm.platnosc === 1">
                                    <h3>Do zapłaty: {{(vm.czasOpalania * vm.confirmation.lozko[0].cena).toFixed(2)}} zł</h3><br>
                                </div>
                                <div ng-if="vm.platnosc === 2">
                                    <p>Typ karnetu: {{vm.confirmation.customer[0].karnet.typ}}</p>
                                    <p>Data założenia karnetu: {{moment(parseInt(vm.confirmation.customer[0].karnet.data_zalozenia)).format('DD-MM-YYYY')}}</p>
                                    <p>Wykorzystane minuty: {{vm.confirmation.customer[0].karnet.wykorzystane}} min <b>+ {{vm.czasOpalania}} min</b></p>
                                    <div class="ui form">
                                    <div class="field">
                                        <label>Kosmetyki:</label>
                                        <input type="number" ng-model="vm.kosmetyki" name="kosmetyki">
                                    </div>
                                    </div>
                                </div>
                        </div>
                        <div class="extra content">
                            <div class="ui two buttons">
                                <div class="ui red button" ng-click="vm.cancel()">Anuluj</div>
                                <div class="ui green button" ng-click="vm.accept()">Dodaj</div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sixteen wide column">
        <div class="ui grid">
            <div class="four wide column">
                <div class="ui raised segment">
                    <h3 class="ui header">
                        <i class="big circular inverted blue users icon"></i>
                        {{vm.customers.length}} użytkowników
                    </h3>
                </div>
            </div>
            <div class="four wide column">
                <div class="ui raised segment">
                    <h3 class="ui header">
                        <i class="big circular inverted blue calendar icon"></i>
                        {{vm.reservations.length}} rezerwacji
                    </h3>
                </div>
            </div>
            <div class="four wide column">
                <div class="ui raised segment">
                    <h3 class="ui header">
                        <i class="big circular inverted blue payment icon"></i>
                        {{vm.passes.length}} karnetów
                    </h3>
                </div>
            </div>
            <div class="four wide column">
                <div class="ui raised segment">
                    <h3 class="ui header">
                        <i class="big circular inverted blue setting icon"></i>
                       {{vm.equipment.length}} urzadzenia
                    </h3>
                </div>
            </div>
        </div>
        </div>
<div class="six wide column">
    <div class="ui raised segment">
        <div class="ui feed">
            <div class="event" ng-repeat="logs in vm.logs | orderBy:'timestamp':true | limitTo:10">
                <div class="label">
                    <img src="https://farm3.static.flickr.com/2010/2110721622_2c15433541_m.jpg">
                </div>
                <div class="content">
                    <a class="user">
                        {{logs.user}}
                    </a>
                    <div class="date">
                        {{vm.fromNow(logs.timestamp)}}
                    </div>
                    <div class="summary">
                        {{logs.content}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
